{% extends "things/base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="page-header">
  <h2>Query Network for Devices</h2>
</div>
<form action="/queryDevices">
    <button type="submit" class="btn btn-default btn-block">Search for devices</button>
</form>

{% if things %}
<div class="row">
    {% for thing in things %}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ thing.name }}</h3></div>
            <ul class="list-group">
                <li class="list-group-item"><strong>Address: </strong>{{thing.addr}}</li>
                <li class="list-group-item"><strong>Type: </strong>{% if thing.dev_type == 1 %}
                    Temperature sensor
                {% else %}
                    {{thing.dev_type}}
                {% endif %}</li>
                <li class="list-group-item"><strong>Updated: </strong>{{thing.refreshed|date:'d M Y H:i:s'}}</li>
                <li class="list-group-item">
                    <form action="/connect/">
                        <button type="submit" class="btn btn-default btn-block">Connect</button>
                        <input type="hidden" name="addr" value="{{thing.addr}}">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<strong>NIENTE</strong>
{% endif %}
{% endblock %}
